body {
  font-family: 'Public Sans', sans-serif;
  margin: 0;
  padding: 0;
  background: #eee;
}

.header {
  background: #fff;
  box-shadow: 5px 5px 5px #d9d3d3;

  .header_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    position: relative;
  
    .navbar ul {
      display: flex;
      list-style: none;
      padding: 0;
      li a {
        font-size: 16px;
        text-decoration: none;
        color: hsl(233, 8%, 62%);
        &:hover {
          color: #2D314D;
        }
      }
      li + li {
        margin-left: 30px;
      }
      li a.active::after {
        content: "";
        background-image: linear-gradient(to left, hsl(177deg, 78%, 44%), #65d165);
        border-radius: 4px;
        position: absolute;
        left: 50%;
        width: 5px;
        height: 56px;
        top: 25%;
        transform: translate(-50%, 28px) rotate(90deg);
      }
    }

    // Menu mobile
    .menu-mobile {
      display: none;
      text-align: right;
      width: 50%;
      padding-right: 10px;
    }

    .menu-mobile .icon-menu {
      cursor: pointer;
      font-size: 20px;
    }

    .menu-mobile ul {
      background: #fff;
      display: block;
      width: 100%;
      opacity: 0;
      transition: 1s;
      position: absolute;
      right: 0;
      top: 27px;
      text-align: center;
      list-style: none;
      padding-bottom: 5px;
    }

    .show-menu {
      opacity: 1 !important;
    }

    .menu-mobile ul li a {
      color: hsl(233, 8%, 62%);
      text-decoration: none;
      font-size: 16px;
      padding: 4px 0;
      display: block;
    }

    .menu-mobile ul li a:hover {
      color: #2D314D;
    }
  }
}


.hero-banner {
  position: relative;
  overflow: hidden;

	.hero_content {
		height: 836px;
	
		.text {
			max-width: 400px;
			margin-top: 120px;

      h1 {
        font-size: 40px;
        font-weight: normal;
        color: hsl(233, 26%, 24%);
        margin-bottom: 0;
      }
    
      p {
        color: hsl(233, 8%, 62%);
        margin-bottom: 30px;
      }
		}
	
    
	}
  .image {
    position: absolute;
    top: -28%;
    left: 44%;
  }

  .back {
    position: absolute;
    top: -13%;
    left: 56%;
  }
}

.about {

	&__recents {
		margin-top: -200px;
    overflow: hidden;
	
		.texto {
			max-width: 620px;
      color: hsl(233, 8%, 62%);
		}
	
		h1 {
			font-size: 30px;
			color: hsl(233, 26%, 24%);
			font-weight: normal;
		}
	
		.cards p {
			color: hsl(233, 8%, 62%);
		}

    div > div:nth-child(1n+1) {
      margin-right: 16px;
    }
	
		.cards {
			margin-top: 60px;
		}
	}
}

.articles {
  margin-top: 100px;

  h1 {
    color: hsl(233, 26%, 24%);
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 40px;
  }

  
  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__border {
    border-radius: 5px;
    margin: 10px;
    max-width: 300px;
  }

  &__card--titulo {
    h2 {
      font-size: 10px;
      color: hsl(233, 8%, 62%);
    }

    h3 {
      font-size: 17px;
      margin: 10px 0;
      color: hsl(233, 26%, 24%);
    }

    p {
      font-size: 14px;
      color: hsl(233, 8%, 62%);
      margin: 0 0 20px;
    }

    padding: 2px 16px;
    background: #ddd;
  }

  img {
    max-width: 100%;
    object-fit: cover;
  }
}

.cards {
  display: flex;
}

.btn {
  padding: 11px 24px;
  border-radius: 26px;
  color: hsl(0, 0%, 100%);
  border: none;
  cursor: pointer;
  background-color: hsl(136, 65%, 51%);
  background-image: linear-gradient(to left, hsl(177deg, 78%, 44%), #65d165);

}
.btn:hover {
  background: hsl(136, 50%, 69%);
}

.footer {
  background: #2D314D;
  margin-top: 80px;

  ul {
    list-style: none;
    padding: 0;
  }

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

    .social {
      margin-top: 20px;
      cursor: pointer;
      
      ul {
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin-top: 40px;
      }

      .img:hover {
        filter: opacity(0.3) drop-shadow(0 0 0 #05d605); 
      }
    }

    .contact {
      display: contents;
      color: #bebfc7;
      cursor: pointer;
      & ul li:hover {
        color: #65d165;
      }

      &__one {
        ul li:nth-child(2) {
          margin: 10px 0;
        }
      }

      &__two {
        flex: 0 250px;
        ul li:nth-child(2) {
          margin: 10px 0;
        }
      }
    }

    .social__right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: end;

      p {
        color: hsl(233, 8%, 62%);
        margin: 20px 0 0;
        font-size: 12px;
      }
    }
  } 
}

/* Large Desktop */
@media (min-width: 1200px) {
  
}

/* Desktop */
@media screen and (min-width: 1024px) and (max-width: 1199px) {
  .cards {
    max-width: 94%;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .articles {
    &__card {
      align-items: initial;
    }
  }

  .footer__main .contact {
    &__two {
      flex: 0 120px;
    }
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  .navbar {
    display: none;
  }

  .header .header_menu .menu-mobile {
    display: block;
    z-index: 3;
  }


  .header .btn {
    display: none;
  }

  .hero-banner .back {
    top: -150px;
    left: 0;

    img {
      width: 100%;
    }

  }

  .hero-banner .image {
    left: 0;
    top: -24px;
    transform: translate(-30%, -43%);

    img {
      width: 220%;
    }
  }

  .hero-banner .hero_content {
    height: 560px;
  }

  .hero-banner .hero_content .text {
    text-align: center;
    margin-top: 100%;

    p {
      max-width: 386px;
      margin-left: 10px;
    }
  }

  .about__recents {
    h1, p {
      text-align: center;
    }

    .cards {
      flex-direction: column;
      text-align: center;
    }
  }

  .articles {
    h1 {
      text-align: center;
    }

    .articles__card {
      flex-direction: column;
    }

    .articles__border {
      width: 90%;
    }
  }

  .footer {
    min-height: 60vh;
    text-align: center;

    .footer__main {
      flex-direction: column;

      .social__right {
        align-items: center;
      }

      .contact__two {
        flex: 0 130px;
      }
    }
  }
}
