body {
  font-family: 'Public Sans', sans-serif;
  margin: 0;
  padding: 0;
  background: #eee;
}

.header {
  background: #fff;
  -webkit-box-shadow: 5px 5px 5px #d9d3d3;
          box-shadow: 5px 5px 5px #d9d3d3;
}

.header .header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  position: relative;
}

.header .header_menu .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
}

.header .header_menu .navbar ul li a {
  font-size: 16px;
  text-decoration: none;
  color: #9698a6;
}

.header .header_menu .navbar ul li a:hover {
  color: #2D314D;
}

.header .header_menu .navbar ul li + li {
  margin-left: 30px;
}

.header .header_menu .navbar ul li a.active::after {
  content: "";
  background-image: -webkit-gradient(linear, right top, left top, from(#19c8bf), to(#65d165));
  background-image: linear-gradient(to left, #19c8bf, #65d165);
  border-radius: 4px;
  position: absolute;
  left: 50%;
  width: 5px;
  height: 56px;
  top: 25%;
  -webkit-transform: translate(-50%, 28px) rotate(90deg);
          transform: translate(-50%, 28px) rotate(90deg);
}

.header .header_menu .menu-mobile {
  display: none;
  text-align: right;
  width: 50%;
  padding-right: 10px;
}

.header .header_menu .menu-mobile .icon-menu {
  cursor: pointer;
  font-size: 20px;
}

.header .header_menu .menu-mobile ul {
  background: #fff;
  display: block;
  width: 100%;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  position: absolute;
  right: 0;
  top: 27px;
  text-align: center;
  list-style: none;
  padding-bottom: 5px;
}

.header .header_menu .show-menu {
  opacity: 1 !important;
}

.header .header_menu .menu-mobile ul li a {
  color: #9698a6;
  text-decoration: none;
  font-size: 16px;
  padding: 4px 0;
  display: block;
}

.header .header_menu .menu-mobile ul li a:hover {
  color: #2D314D;
}

.hero-banner {
  position: relative;
  overflow: hidden;
}

.hero-banner .hero_content {
  height: 836px;
}

.hero-banner .hero_content .text {
  max-width: 400px;
  margin-top: 120px;
}

.hero-banner .hero_content .text h1 {
  font-size: 40px;
  font-weight: normal;
  color: #2d314d;
  margin-bottom: 0;
}

.hero-banner .hero_content .text p {
  color: #9698a6;
  margin-bottom: 30px;
}

.hero-banner .image {
  position: absolute;
  top: -28%;
  left: 44%;
}

.hero-banner .back {
  position: absolute;
  top: -13%;
  left: 56%;
}

.about__recents {
  margin-top: -200px;
  overflow: hidden;
}

.about__recents .texto {
  max-width: 620px;
  color: #9698a6;
}

.about__recents h1 {
  font-size: 30px;
  color: #2d314d;
  font-weight: normal;
}

.about__recents .cards p {
  color: #9698a6;
}

.about__recents div > div:nth-child(1n+1) {
  margin-right: 16px;
}

.about__recents .cards {
  margin-top: 60px;
}

.articles {
  margin-top: 100px;
}

.articles h1 {
  color: #2d314d;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 40px;
}

.articles__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articles__border {
  border-radius: 5px;
  margin: 10px;
  max-width: 300px;
}

.articles__card--titulo {
  padding: 2px 16px;
  background: #ddd;
}

.articles__card--titulo h2 {
  font-size: 10px;
  color: #9698a6;
}

.articles__card--titulo h3 {
  font-size: 17px;
  margin: 10px 0;
  color: #2d314d;
}

.articles__card--titulo p {
  font-size: 14px;
  color: #9698a6;
  margin: 0 0 20px;
}

.articles img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn {
  padding: 11px 24px;
  border-radius: 26px;
  color: white;
  border: none;
  cursor: pointer;
  background-color: #31d35c;
  background-image: -webkit-gradient(linear, right top, left top, from(#19c8bf), to(#65d165));
  background-image: linear-gradient(to left, #19c8bf, #65d165);
}

.btn:hover {
  background: #88d79e;
}

.footer {
  background: #2D314D;
  margin-top: 80px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.footer__main .social {
  margin-top: 20px;
  cursor: pointer;
}

.footer__main .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin-top: 40px;
}

.footer__main .social .img:hover {
  -webkit-filter: opacity(0.3) drop-shadow(0 0 0 #05d605);
          filter: opacity(0.3) drop-shadow(0 0 0 #05d605);
}

.footer__main .contact {
  display: contents;
  color: #bebfc7;
  cursor: pointer;
}

.footer__main .contact ul li:hover {
  color: #65d165;
}

.footer__main .contact__one ul li:nth-child(2) {
  margin: 10px 0;
}

.footer__main .contact__two {
  -webkit-box-flex: 0;
      -ms-flex: 0 250px;
          flex: 0 250px;
}

.footer__main .contact__two ul li:nth-child(2) {
  margin: 10px 0;
}

.footer__main .social__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.footer__main .social__right p {
  color: #9698a6;
  margin: 20px 0 0;
  font-size: 12px;
}

/* Large Desktop */
/* Desktop */
@media screen and (min-width: 1024px) and (max-width: 1199px) {
  .cards {
    max-width: 94%;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .articles__card {
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
  .footer__main .contact__two {
    -webkit-box-flex: 0;
        -ms-flex: 0 120px;
            flex: 0 120px;
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  .navbar {
    display: none;
  }
  .header .header_menu .menu-mobile {
    display: block;
    z-index: 3;
  }
  .header .btn {
    display: none;
  }
  .hero-banner .back {
    top: -150px;
    left: 0;
  }
  .hero-banner .back img {
    width: 100%;
  }
  .hero-banner .image {
    left: 0;
    top: -24px;
    -webkit-transform: translate(-30%, -43%);
            transform: translate(-30%, -43%);
  }
  .hero-banner .image img {
    width: 220%;
  }
  .hero-banner .hero_content {
    height: 560px;
  }
  .hero-banner .hero_content .text {
    text-align: center;
    margin-top: 100%;
  }
  .hero-banner .hero_content .text p {
    max-width: 386px;
    margin-left: 10px;
  }
  .about__recents h1, .about__recents p {
    text-align: center;
  }
  .about__recents .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .articles h1 {
    text-align: center;
  }
  .articles .articles__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .articles .articles__border {
    width: 90%;
  }
  .footer {
    min-height: 60vh;
    text-align: center;
  }
  .footer .footer__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer__main .social__right {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer__main .contact__two {
    -webkit-box-flex: 0;
        -ms-flex: 0 130px;
            flex: 0 130px;
  }
}
/*# sourceMappingURL=main.css.map */