body {
  font-family: 'Public Sans', sans-serif;
  margin: 0;
  padding: 0;
  background: #eee;
}

.header {
  background: #fff;
  box-shadow: 5px 5px 5px #d9d3d3;

  .header_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  
    .navbar ul {
      display: flex;
      list-style: none;
      padding: 0;
      li a {
        font-size: 16px;
        text-decoration: none;
        color: hsl(233, 8%, 62%);
      }
      li + li {
        margin-left: 30px;
      }
    }
  }
}


.hero-banner {
  position: relative;
  overflow: hidden;

	.hero_content {
		height: 836px;
	
		.text {
			max-width: 400px;
			margin-top: 120px;

      h1 {
        font-size: 40px;
        font-weight: normal;
        color: hsl(233, 26%, 24%);
        margin-bottom: 0;
      }
    
      p {
        color: hsl(233, 8%, 62%);
        margin-bottom: 30px;
      }
		}
	
    
	}
  .image {
    position: absolute;
    top: -28%;
    left: 44%;
  }

  .back {
    position: absolute;
    top: -13%;
    left: 56%;
  }
}

.about {

	&__recents {
		margin-top: -200px;
    overflow: hidden;
	
		.texto {
			max-width: 620px;
      color: hsl(233, 8%, 62%);
		}
	
		h1 {
			font-size: 30px;
			color: hsl(233, 26%, 24%);
			font-weight: normal;
		}
	
		.cards p {
			color: hsl(233, 8%, 62%);
		}

    div > div:nth-child(1n+1) {
      margin-right: 16px;
    }
	
		.cards {
			margin-top: 60px;
		}
	}
}

.articles {
  margin-top: 100px;

  h1 {
    color: hsl(233, 26%, 24%);
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 40px;
  }

  
  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__border {
    border-radius: 5px;
    margin: 10px;
    width: 40%;
  }

  &__card--titulo {
    h2 {
      font-size: 10px;
      color: hsl(233, 8%, 62%);
    }

    h3 {
      font-size: 17px;
      margin: 10px 0;
      color: hsl(233, 26%, 24%);
    }

    p {
      font-size: 14px;
      color: hsl(233, 8%, 62%);
      margin: 0 0 20px;
    }

    padding: 2px 16px;
    background: #ddd;
  }

  img {
    max-width: 100%;
    object-fit: cover;
  }
}

.cards {
  display: flex;
}

.btn {
  padding: 11px 24px;
  border-radius: 26px;
  color: hsl(0, 0%, 100%);
  border: none;
  cursor: pointer;
  background-color: hsl(136, 65%, 51%);
  background-image: linear-gradient(to left, hsl(177deg, 78%, 44%), #65d165);
}

.footer {
  bottom: 0;
  position: absolute;
}